<!doctype html>
<html lang="pt-BR">

    <head>
        <title>Conversor de gif</title>
        <meta name="keywords" content="conversor gif, converter mp4 para gif"> <!-- adicionar tags sla -->
        <meta name="description" content="conversor de mp4 pra gif"> <!-- todo -->

    </head>

    <body>
        <div>
            <form action="/convert" method="POST" enctype="multipart/form-data">
                <input name="file" type="file" accept=".mp4,.mov,.mkv" required>
                <input type="submit">
            </form>
        </div>
    </body>

    <footer>
        <hr>
        <p>Caso estiver ocorrendo algum erro, entre em contato através do e-mail <a href="mailto:not-putting-that-here@email.com"> not-putting-that-here@email.com</a></p>
    </footer>

</html>